{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>ログイン</h1>
    <form action="" method="POST">
        <!-- <div class="card-body">
            <a class="btn btn-dark btn-lg btn-block" href="{% url 'social:begin' 'github' %}">GitHubアカウント</a>
            <hr style="border: 0;
            height: 1px;
            background: #333;
            background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
            background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
            background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
            background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
        "> -->
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field }}
        {{ field.errors }}
        <hr>
        {% endfor %}
        <button type="submit" class="btn">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
    <ul class="ul-list">
        <li>はじめてのご利用ですか？
            <a class="btn" href="{% url 'accounts:signup' %}">登録へ</a>
        </li>
        <li>TEST用アカウントはこちら
            <button class="btn" onclick="msgdsp()">ユーザー名とパスワードの表示</button>
        </li>
    </ul>
</div>
<script language="JavaScript">
    function msgdsp() {
        alert("ユーザー名：testuser パスワード：testpass1234");
    }
</script>
{% endblock %}