{% extends 'base.html' %}
{% load static %}
{% load markdown %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <section class="profile">
        <h1>プロフィール</h1>
        <div class="image-wrapper">
            {% if user.icon %}
            <img src="{{ user.icon.url }}" alt="icon" class="profile-thumbnail" data-toggle="modal"
                data-target="#iconModal" />
            {% else %}
            <i class="fas fa-user-circle fa-10x rounded-circle profile-icon" data-toggle="modal"
                data-target="#iconModal"></i>
            {% endif %}
        </div>
        </button>
        <table class="table">
            <tbody>
                {% if post.author.display_name %}
                <tr>
                    <th scope="row">ユーザー名</th>
                    <td>{{ post.author.display_name }}</td>
                </tr>
                {% endif %}
                {% if post.author.gender %}
                <tr>
                    <th scope="row">性別</th>
                    <td>{{ post.author.gender }}</td>
                </tr>
                {% endif %}
                {% if post.author.birth_year and post.author.birth_month %}
                <tr>
                    <th scope="row">誕生年月</th>
                    <td>{{ post.author.birth_year }}年 {{ post.author.birth_month }}月</td>
                </tr>
                {% endif %}
                {% if post.author.location %}
                <tr>
                    <th scope="row">住んでいる地域</th>
                    <td>{{ post.author.location }}</td>
                </tr>
                {% endif %}
                {% if post.author.favorite_word %}
                <tr>
                    <th scope="row">好きな言葉</th>
                    <td>{{ post.author.favorite_word }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">全投稿数</th>
                    <td>{{ num_posts }}</td>
                </tr>
                <tr>
                    <th scope="row">直近3件の投稿</th>
                    <td>
                        {% for post in late_posts %}
                        {{ post.title }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <article>
        {% for post in late_posts %}
        <hr class="hr">
        <section class="post-content">
            <h1>{{ post.title }}</h1>
            <div class="date">
                <p>
                    Published:{{ post.created_date.date }} Edited:{{ post.published_date.date }}
                    [<a href="#">{{post.category}}</a>]
                </p>
            </div>
            <p class="postcontent">{{ post.text | safe | markdown_to_html }}</p>
            <footer class="text-author">
                <a href="{% url 'accounts:detail_profile' post.id %}">
                    Text {{ post.author.display_name }}@{{ post.author.username }}
                </a>
            </footer>
            {% if user.is_authenticated and request.user == post.author %}
            <div class="btn-wrapper">
                <a class="btn" href="{% url 'blog:post_edit' post.pk %}">編集</a>
            </div>
            {% endif %}
        </section>
        {% endfor %}
    </article>
    <br>
</div>
{% endblock %}