{% extends 'base.html' %}
{% load static %}
{% load markdown %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <section class="profile">
        <h1>プロフィール</h1>
        {% if user.icon %}
        <img src="{{ user.icon.url }}" alt="icon" class="profile-thumbnail" style="text-align:center;"
            data-toggle="modal" data-target="#iconModal" />
        {% else %}
        <i class="fas fa-user-circle fa-10x rounded-circle" style="max-width: 100%; height: auto;" data-toggle="modal"
            data-target="#iconModal"></i>
        {% endif %}
        </button>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">ユーザー名</th>
                    <td>{{ user.display_name }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#displayNameModal">
                            編集
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">メールアドレス</th>
                    <td>{{ user.email }}</td>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">性別</th>
                    <td>{{ user.gender }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">
                            編集
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">誕生年月</th>
                    <td>{{ user.birth_year }}年 {{ user.birth_month }}月</td>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">住んでいる地域</th>
                    <td>{{ user.location }}</td>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">好きな言葉</th>
                    <td>{{ user.favorite_word }}</td>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">全投稿数</th>
                    <td>{{ num_posts }}</td>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">直近3件の投稿</th>
                    <td>
                        {% for post in late_posts %}
                        {{ post.title }}<br>
                        {% endfor %}
                    </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </section>
    <article>
        {% for post in late_posts %}
        <section class="post-content">
            <h1>{{ post.title }}</h1>
            <p class="postcontent">{{ post.text | safe | markdown_to_html }}</p>
            <p><a href="{% url 'accounts:detail_profile' post.id %}">
                    筆者:{{ post.author.display_name }}@{{ post.author.username }}
                </a>
            </p>
            <p>Created: {{ post.created_date.date }}<br>Edited: {{ post.published_date.date }}</p>
            {% if user.is_authenticated and request.user == post.author %}
            <a class="btn btn-outline-dark" href="{% url 'blog:post_edit' post.pk %}">編集</a>
            {% endif %}
        </section>
        {% endfor %}
    </article>
</div>
{% include 'includes/profile-edit-modal.html' %}
{% endblock %}