@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #b0da64;
  text-decoration: none;
}
.form-control {
  font-size: 1.6rem;
}
