<nav class="global-nav">
    <ul>
        <li class="nav-item logo"></li>
        <li class="nav-item {% if request.path == '/' %} active {%endif%}">
            <a href="{% url 'blog:post_list' %}">Home</a>
        </li>
        <li class="nav-item {% if request.path == '/about/' %} active {%endif%}">
            <a href="{% url 'blog:about' %}">KudoLogとは</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == '/post/new/' %} active {%endif%}">
            <a href="{% url 'blog:post_new' %}">New Post <i class="fas fa-vote-yea"></i></a>
        </li>
        <li class="nav-item {% if request.path == '/drafts/' %} active {%endif%}">
            <a href="{% url 'blog:post_draft_list' %}">Draft <i class="fas fa-pencil-alt"></i></a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
        </li>
        <li class="nav-item">
            <a href="{% url 'accounts:edit_profile' user.id%}">
                {% if user.display_name %}{{ user.display_name }}{% else %}名無し{% endif %}
                {% if user.icon %}
                <img src="{{ user.icon.url }}" alt='thumbnail' class="thumbnail" width="20" height="20" />
                {% else %}
                <i class="fas fa-user-circle"></i>
                {% endif %}
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'login' %}">Guest <i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a href="{% url 'login' %}" aria-label="Login">
                LogIn <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'accounts:signup' %}">SignUp <i class="fas fa-user-plus"></i></a>
        </li>
        {% endif %}
    </ul>
</nav>