{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <h2><span style="font-family: 'Dancing Script', cursive;">KudoLog</span>は自由に書き込める掲示板アプリです。</h2>
    <h3><span style="font-family: 'Dancing Script', cursive;">KudoLog</span>の使い方</h3>
    <p>ユーザ登録なし<br>
        ユーザー登録せずにそれぞれの記事を閲覧できます。</p>
    <p>登録ユーザーは
        <li>プロフィール作成</li>
        <li>記事の下書き作成</li>
        <li>記事の発行</li>
        <li>コメント書き込み</li>
        が行えます。
    </p>
    <h3>注意事項</h3>
    <p>下書きを編集し保存するとそのまま投稿されます。再編集したい場合は投稿済みの記事からお願いします。</p>
    <h3>その他</h3>
    <p>内容は自由ですが、誹謗中傷はないようにお願い致します。</p>
</div>
{% endblock %}