{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock%}
<div class="container">
    <h1>記事の編集</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}
        {{ post_form.media }}
        <div class="btn-wrapper">
            <button type="submit" class="btn">保存</button>
        </div>
    </form>
    {% include 'includes/code-highlight.html' %}
</div>
{% endblock %}