{% extends 'base.html' %}
{% load static %}
{% load markdown %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock%}

{% block content %}
<div class="container">
    <h1>下書き一覧</h1>
    {% for post in post_list %}
    <hr class="hr">
    <article>
        <header>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>
                    Published:{{ post.created_date.date }} Edited:{{ post.published_date.date }}
                    [<a href="#">{{post.category}}</a>]
                </p>
            </div>
        </header>
        <section>
            <p>{{ post.text | markdown_to_html | linebreaksbr }}</p>
        </section>
        <footer>
            <footer class="text-author">
                <a href="{% url 'accounts:detail_profile' post.id %}">
                    <p>Text {{ post.author.display_name }}@{{ post.author.username }}</p>
                </a>
            </footer>
        </footer>
        <div class="btn-wrapper">
            <a class="btn" href="{% url 'blog:post_publish' pk=post.pk %}">投稿する</a>
        </div>
        {% empty %}
        <p>下書きはありません</p>
    </article>
    {% endfor %}
</div>
{% endblock %}