{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}" />

<div class="jumbotron">
    <div class="jumbo-text" style="color:white;">
        <h2><span style="font-family: 'Dancing Script', cursive;">KudoLog</span></h2>
        <h3></h3>
        <h3><span style="font-family: 'Dancing Script', cursive;">You can write text for free!!!</span></h3>
    </div>
</div>
<div class="container">
    <p></p>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                記事一覧
            </div>
        </div>

        {% for post in post_list %}
        <div class="col col-lg-4">
            <div class="card-group">
                <a href="{% url 'blog:post_detail' pk=post.pk %}">
                    <div class="card border-primary box-shadow">
                        <img src="{% static 'image/programming.jpg' %}" class="card-img-top">
                        <h2 class="card-img-overlay text-white text-center">{{ post.title }}</h2>
                        <div class="card-body">
                            <p>コメント数:{{ post.approve_comments.count }}<br>筆者:
                                {{ post.author.display_name }}@{{ post.author.username }} </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">発行日: {{ post.created_date }}</small><br>
                            <small class="text-muted">更新日: {{ post.published_date }}</small>
                        </div>
                    </div>
                </a>
            </div>
            <p></p>
        </div>
        {% endfor %}
    </div>

    <p></p>
    {% include 'includes/page.html' %}
</div>
{% endblock %}