{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/post.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>記事の作成</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}
        {{ post_form.media }}
        <button type="submit" class="save btn btn-outline-primary">保存</button>
    </form>
</div>
{% include 'includes/code-highlight.html' %}
{% endblock %}