{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>記事の編集</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}
        {{ post_form.media }}
        <button type="submit" class="save btn btn-outline-primary">保存</button>
    </form>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
        const elements = document.getElementsByClassName('markdownx');
        for (element of elements) {
            element.addEventListener('markdownx.update', event => {
                for (const block of document.querySelectorAll('pre code')) {
                    hljs.highlightBlock(block);
                }
            });
        }
    </script>
</div>
{% endblock %}