{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="text-align: center; color: white;">みんなの投稿</h1>
<article class="articles">
    {% for post in post_list %}
    <section class="item">
        <a href="{% url 'blog:post_detail' pk=post.pk %}">
            {% include 'includes/post-image.html' %}
            <div class="category">{{ post.category }}</div>
            <p class='post-title'>{{ post.title }}</p>
            <p class="description">
                {{ post.summary }}
            </p>
            <p class="comment">コメント数:{{ post.approve_comments.count }}</p>
            <p class="date">{{ post.created_date }}</p>
        </a>
    </section>
    {% endfor %}
</article>
{% include 'includes/page.html' %}
<div class="search-form">
    <h2>記事の検索</h2>
    <form class="search" action="/" method="GET">
        {{ category_form }}
        <button class="btn" type="submit">検索</button>
    </form>
    <p>もしくは</p>
    <form class="search" action="{% url 'blog:post_list' %}">
        <input type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn" type="submit">検索</button>
    </form>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script>
    new Masonry('article', {
        itemSelector: '.item',
        columnWidth: 300,
        gutter: 4,
        isFitWidth: true
    })
</script>
{% endblock %}